.App {
    text-align: center;
}

#gallery-title {
    text-align: center;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 15px;
}

#bigtext {
    display: flex;
    justify-content: center;
}

#collections {
    margin-bottom: 30px;
}

.imageCard {
    position: relative;
}

.eraseImg {
    position: absolute !important;
    right: 10px !important
}
